# Gradle

*.gradle
**/build/
*.gradle-app.setting
!gradle-wrapper.jar
*.gradletasknamecache
# gradle/wrapper/gradle-wrapper.properties

# Dart
**/.dart_tool
*.packages
*.lock

# IntelliJ
**/.idea

# Exercism
**/.exercism